/* variables */
$text-color: #333;
$bg-color: #f1f1f1;
$light-color: #fff;
$dark-color: #000;

$ff-primary: 'Poppins', sans-serif;

html, body, #root {
  height: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Typography */
body {
  font-family: $ff-primary;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.select-players {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($dark-color, 0.8);
  }

  &__body {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
    color: $text-color;
    padding: 70px;

    h2 {
      color: $light-color;
      margin-bottom: 30px;
      flex-direction: column;
    }
  
    p {
      max-width: 800px;
      text-align: center;
      font-size: 24px;
    }
  }

  &__card {
    width: 45%;
    border: 1px #000 solid;
    border-radius: 6px;
    padding-bottom: 70px;

    h2 {
      //color: #333;
      margin-bottom: 30px;
      flex-direction: column;
      font-size: 2.2rem;
      text-align: center;
    }

    &__content {
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 7%;
      justify-content: center;
    }
  }
}

.select-groups {
  //padding-top: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $text-color;
  height: 100%;
  overflow: auto;

  &__body {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
    color: $text-color;

    &__card {
      padding: 70px;
      overflow: hidden;
      box-shadow: 0 2px 20px $dark-color;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      transition: transform 200ms ease-in;
      background-color: white;
    
      &__title {
        padding: 1rem;
      }
    }

    h2 {
      color: $text-color;
      margin-bottom: 30px;
      flex-direction: column;
    }
  
    p {
      max-width: 800px;
      text-align: center;
      font-size: 24px;
    }
  }

  &:hover &__btn {
    background-color: rgba($dark-color, 0.8);
    color: white;
  }
}
